table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

td, th {
	padding: 15px;
}

a {
	text-decoration: none;
	color: #ffb366;
}

a:hover {
	text-decoration: none;
	color: #b3b3ff;
}

.container {
	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;
}
hr{
	color: gray;
}