<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webstudy5-solution-inst</display-name>
  <welcome-file-list>
    <welcome-file>enter.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EnterServlet</display-name>
    <servlet-name>EnterServlet</servlet-name>
    <servlet-class>cafe.EnterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterServlet</servlet-name>
    <url-pattern>/EnterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>cafe.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
</web-app>