@charset "UTF-8";
.header{
	text-align: center;
	height: 70px;
	padding: 15px;
}
.main{
	height: 500px;	
}
.right{
	text-align: center;
}
.itemlist th,.itemlist td{
	text-align: center;
}
.footer{
	text-align: center;
	font-size: 10px;
}







