<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webstudy4-LifeCycle-inst</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReviewServlet</display-name>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>step1.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>step2.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleServlet</display-name>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>step3.LifeCycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/LifeCycleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleServlet2</display-name>
    <servlet-name>LifeCycleServlet2</servlet-name>
    <servlet-class>step4.LifeCycleServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet2</servlet-name>
    <url-pattern>/life</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigTestServlet</display-name>
    <servlet-name>ConfigTestServlet</servlet-name>
    <servlet-class>step5.ConfigTestServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>WEB-INF/springmvc2.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigTestServlet</servlet-name>
    <url-pattern>/ConfigTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigTestServlet2</display-name>
    <servlet-name>ConfigTestServlet2</servlet-name>
    <servlet-class>step6.ConfigTestServlet2</servlet-class>
    <init-param>
      <param-name>maxSpeed</param-name>
      <param-value>200</param-value>
    </init-param>
    <init-param>
      <param-name>model</param-name>
      <param-value>BMW</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigTestServlet2</servlet-name>
    <url-pattern>/ConfigTestServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextTestServlet</display-name>
    <servlet-name>ContextTestServlet</servlet-name>
    <servlet-class>step7.ContextTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextTestServlet</servlet-name>
    <url-pattern>/ContextTestServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>adminEmail</param-name>
    <param-value>javaking@daum.net</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Context2</display-name>
    <servlet-name>Context2</servlet-name>
    <servlet-class>step8.Context2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Context2</servlet-name>
    <url-pattern>/context2</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>step9.TestServletContextListener</listener-class>
  </listener>
</web-app>